
body {
    background-color: white;
    margin: 0;
    font-family:fira sans condensed;
}
.navbar {
    background:#B4BDC8;
    padding: 20px;
}
.logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.secondary-nav {
    text-decoration: none;
}
.logo {
    text-decoration: none;
}